*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.clear{
    clear: bold;
}
html,body{
    height: 100%;
}
.menu{
    padding: 30px;
    text-align: right;
    background-color: rgb(41, 41, 122);
}
.menu a{
    color:cornsilk;
    font-size: 18px;
    padding: 10px;
    cursor: pointer;
    text-decoration:none;
}
.campo{
    text-align: center;
    margin-top: 10px;
   color:darkgoldenrod;
   font-family: "Times New Roman", Times, serif;
}
.formulario{
      padding: 0 40px;
      padding-top: 30px;
      float: left;
      width: 40%; 
}
.formulario .input{
     margin-bottom: 30px;
}
.formulario .input-group-text{
   background:honeydew;
}
.formulario .form-select{
    margin-bottom: 30px;
}
.formulario .two{
    width: 100%; 
}
.formulario .esq{
    float: left;
    width: 30%;
}
.formulario .dir{
    float: right;
    width: 30%;
}
.btn{
    margin-top: 20px;
   margin-left: 20px;
}
.btn [type=submit]{
    padding: 0 40px;
    
}
.btn .btn{
    font-size: 15px;
}
.footer{
   width: 100%;
   height: 100px;
    background-color: blue;
    margin-top: 30%;
    position: absolute;
    left: 0;
    bottom: 0;
}
.footer p{
    text-align: center;
    color:darkorange;
    font-size: 23px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 30px;
   
}










